@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1>
    <p>Au lucrat la site:Zibileanu Sabin si Budeanu Andreea</p>
</div>
