@page
@model BackEndCST.Pages.LoginModel
@{
}

<div class = "container mt-5">
    <div class = "row justify-content-center align-items-center">
        <div class = "col-sm-12 col-md-12 col-lg-4">
            <h1 class = "mb-3">Login</h1>
        <form method="post">
            <div class = "mb-3">
                <label class = "form-label" asp-for = "ModelLogin.Email">Email</label>
                <input type = "text" asp-for = "ModelLogin.Email" class = "form-control" />
                <span asp-validation-for = "ModelLogin.Email" class = "text-danger"></span>
            </div>
            <div class = "mb-3">
                <label class = "form-label" asp-for = "ModelLogin.Password">Parola</label>
                <input type = "password" asp-for = "ModelLogin.Password" class = "form-control" />
                <span asp-validation-for = "ModelLogin.Password" class = "text-danger"></span>
            </div>

             <div class = "mb-3 form-check">
                <input type = "checkbox" asp-for = "ModelLogin.tine_minte" class = "form-check-input" />
                <label class = "form-check-label" asp-for = "ModelLogin.tine_minte">Remember Me</label>
            </div>

            <div class = "mb-3"></div>
                <button type = "submit" class = "btn btn-primary">Login</button>
        </form>
        </div>
    </div>
</div>
